@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-50 dark:bg-gray-900 text-gray-900 dark:text-gray-100;

  @apply transition-colors duration-300;
  html {
  scroll-behavior: smooth;
}
}



* {
  font-family: 'Georgia', sans-serif;
}

